/* import fonts */

/* Inter font */
@font-face {
  font-family: 'xxx';
  src: url("../fonts/xxx") format('TrueType');
}

/* Global styles
------------------------------------ */
:root {
  /* Default font size */
  font-size: 16px;

  /* custom colors */
  --dark-color: #272a31;
  --ascent-color: #ec5242;
  --light-grey-color: #d3d3d3;
  --grey-color: #3b3e45;
  --light-color: #fff;
  --light-variant-color: #f8f8f8;

  /* custom space */

  /* 40px to 198px on viewport 768px to 1440px */
  --space-3: clamp(2.5rem, calc(-8.79rem + 23.51vw), 12.38rem);

  /* 109px to 117px */
  --space-4: clamp(6.81rem, calc(6.64rem + 0.75vw), 7.31rem);

  /* 71px to 166px */
  --space-5: clamp(4.44rem, calc(2.35rem + 8.92vw), 10.38rem);

  /* 12px to 206px */
  --space-6: clamp(0.75rem, calc(-3.52rem + 18.22vw), 12.88rem);

  /* 30x to 75px */
  --space-7: clamp(1.88rem, calc(0.88rem + 4.23vw), 4.69rem);

  /* 20px to 75px */
  --space-8: clamp(1.25rem, calc(0.92rem + 1.41vw), 2.19rem);

  /* 30px to 65px */
  --space-9: clamp(1.88rem, calc(1.15rem + 3.1vw), 3.94rem);

  /* 10px to 109px */
  --space-10: clamp(0.63rem, calc(-1.55rem + 9.3vw), 6.81rem);

  /* custom font size */

  /* 16px to 24px */
  --fs-1: clamp(1rem, calc(0.82rem + 0.75vw), 1.5rem);

  /* 14px to 18px */
  --fs-2: clamp(0.88rem, calc(0.79rem + 0.38vw), 1.13rem);

  /* 12px to 16px */
  --fs-3: clamp(0.75rem, calc(0.66rem + 0.38vw), 1rem);

  /* 14px to 16px */
  --fs-4: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: auto;
}

.container > * {
  max-width: 100%;
}

.container > main {
  margin-block: auto;
}

.container > :first-child:not(main) {
  margin-block-start: 0;
}

.container > :last-child:not(main) {
  margin-block-end: 0;
}

/* hero styles
------------------------------------ */
.hero {
  margin-block-start: 70px;
  padding-block: var(--space-10);
  background: url(../img/about_bg-mobile.png), #f7f7f8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -60px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  max-inline-size: 793px;
  padding-block: 20px;
}

.hero__img-wrapper {
  width: 100%;
  padding-inline: 12px;
}

.hero__img {
  display: block;
  width: 100%;
  max-width: 583px;
  height: auto;
  margin-inline: auto;
}

.hero__img.desktop {
  display: none;
}

.hero__subtheme {
  padding: 15px 10px;
  margin-block-start: 15px;
  font-weight: 400;
  font-size: var(--fs-3);
  line-height: 1.5;
  color: #515151;
  background: #fff;
  text-align: center;
}

.hero__subtheme.desktop {
  display: none;
}

.hero__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  font-weight: 400;
  font-size: var(--fs-3);
  line-height: 1.5;
  color: #515151;
  text-align: center;
}

.hero__contact-email {
  font-weight: 700;
}

/* Logo-info styles
------------------------------------ */
.logo__info {
  border-block-end: 1px solid var(--light-grey-color);
}

.logo__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  max-inline-size: 780px;
  margin-inline: auto;
  padding-block: var(--space-9);
}

.logo__info-title {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-color);
  margin-inline: 60px;
  padding-block-end: 20px;
}

.logo__info-title::before {
  position: absolute;
  inset-inline-start: calc((100% - 30px) / 2);
  content: "";
  height: 100%;
  width: 30px;
  border-bottom: 2px solid var(--ascent-color);
}

.logo-info-text {
  padding-inline: 12px;
  font-weight: 400;
  font-size: var(--fs-4);
  line-height: 1.5;
  text-align: center;
  color: var(--grey-color);
}

.logo-info-text .desktop {
  display: none;
}

.logo-info-img {
  display: block;
  width: 100%;
  max-width: 542px;
  height: auto;
}

/* Past__events styles
------------------------------------ */
.past__events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 35px;
  padding: var(--space-9) 27px;
  max-inline-size: 887px;
}

.past__events-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.past__events-title {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-color);
  padding-block-end: 20px;
}

.past__events-title::before {
  position: absolute;
  inset-inline-start: calc((100% - 30px) / 2);
  content: "";
  height: 100%;
  width: 30px;
  border-bottom: 2px solid var(--ascent-color);
}

.past__events-text {
  font-weight: 400;
  font-size: var(--fs-4);
  line-height: 21px;
  text-align: center;
  color: var(--grey-color);
}

.past__event-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.past__img {
  display: block;
  width: 100%;
  height: auto;
}

.past__img:hover {
  filter: grayscale(1);
}

/* Partner styles
  ------------------------------------ */
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  padding: var(--space-8) 10px;
  color: var(--light-color);
  background-color: var(--grey-color);
}

.partners__title {
  position: relative;
  padding-block-end: 15px;
  font-weight: 400;
  font-size: var(--fs-1);
  line-height: 1.5;
}

.partners__title::before {
  position: absolute;
  inset-inline-start: calc((100% - 30px) / 2);
  content: "";
  height: 100%;
  width: 30px;
  border-bottom: 2px solid var(--ascent-color);
}

.partner__img-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 25px 40px;
}

.partner__img {
  display: block;
  width: 100%;
  max-width: 109px;
  height: auto;
}

.footer {
  margin-inline: 0;
  padding-block: var(--space-9);
}

.footer__credit {
  margin-inline: auto;
}

.footer__credit-text {
  flex-basis: content;
}

.footer__credit-img {
  flex: 0;
  max-width: 135px;
}

.footer__credit-img.desktop {
  display: none;
}

.footer__credit-text p:last-child {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* Header styles
  ------------------------------------ */
  .header {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .header__banner {
    padding-inline: var(--space-3);
  }

  .header__nav {
    justify-content: space-between;
    column-gap: var(--space-2);
    padding: 12px var(--space-3);
  }

  .header__banner.close {
    display: block;
  }

  .header__navlinks.close {
    display: flex;
  }

  .header__navbar-img,
  .header__navbar-img.close {
    display: none;
  }

  /* Hero styles
  ------------------------------------ */
  .hero {
    margin-block-start: 105px;
    background: url(../img/about_bg.png), #f7f7f8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .hero__wrapper {
    margin-inline: auto;
  }

  .hero__img.desktop {
    display: block;
  }

  .hero__img.mobile {
    display: none;
  }

  .hero__subtheme.desktop {
    display: unset;
  }

  .hero__subtheme.mobile {
    display: none;
  }

  /* Logo-info styles
  ------------------------------------ */
  .logo-info-text {
    padding-inline: 0;
  }

  .logo-info-text .desktop {
    display: unset;
  }

  .logo-info-text .mobile {
    display: none;
  }

  /* Past__events styles
  ------------------------------------ */
  .past__events {
    margin-inline: auto;
  }

  .past__event-img {
    flex-direction: row;
    column-gap: 25px;
  }

  .partners {
    display: none;
  }

  /* Footer styles
  ------------------------------------ */
  .footer__credit-img {
    flex: 0;
    max-width: 250px;
  }

  .footer__credit-img.desktop {
    display: unset;
  }

  .footer__credit-img.mobile {
    display: none;
  }

  .footer__credit-text p:last-child {
    display: unset;
  }
}
