/* Global styles
------------------------------------ */
:root {
  /* 40px to 198px on viewport 768px to 1440px */
  --space-3: clamp(2.5rem, calc(-8.79rem + 23.51vw), 12.38rem);

  /* 109px to 117px */
  --space-4: clamp(6.81rem, calc(6.64rem + 0.75vw), 7.31rem);

  /* 71px to 166px */
  --space-5: clamp(4.44rem, calc(2.35rem + 8.92vw), 10.38rem);

  /* 12px to 206px */
  --space-6: clamp(0.75rem, calc(-3.52rem + 18.22vw), 12.88rem);
}

/* hero styles
------------------------------------ */
.hero {
  margin-block-start: 75px;
  padding: var(--space-4) var(--space-6) var(--space-5) var(--space-6);
  background-image: url(../img/Hero-mobile_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  max-inline-size: 793px;
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;
}

.hero__subtheme {
  padding: 17px 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #515151;
  background: #f8f8f8;
  border: 4px solid #fff;
}

.hero__event {
  font-family: var(--ff-secondary);
}

.hero__event-date {
  margin-block-end: 0.5rem;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.08em;
  color: #595959;
}

.hero__event-venue {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #868686;
}

/* programme styles
------------------------------------ */
.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 12px;
  background: url(../img/pattern_bg.png), #282b32;
  color: #fff;
}

.program__title {
  position: relative;
  margin-block-start: 18px;
  padding-block-end: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.program__title::before {
  position: absolute;
  inset-inline-start: calc((100% - 30px) / 2);
  content: "";
  height: 100%;
  width: 30px;
  border-bottom: 2px solid #a04038;
}

.program__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3px;
  width: 100%;
  max-inline-size: 1012px;
}

.program__card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 9px;
  padding: 9px;
  background-color: #3b3e45;
}

.program__card::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/pattern_bg.png);
  opacity: 20%;
}

.program__card-img {
  display: block;
  width: 57px;
  height: auto;
}

.program__card-title {
  display: inline-block;
  flex: 0 0 66px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #ff5438;
}

.program__card-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.program__btn {
  display: inline-block;
  padding: 20px 50px;
  margin-block-end: 17px;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  background-color: #ff4f38;
  cursor: pointer;
}

/* Speakers styles
------------------------------------ */
.speakers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 12px;
}

.speakers__title {
  position: relative;
  margin-block-start: 18px;
  padding-block-end: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.speakers__title::before {
  position: absolute;
  inset-inline-start: calc((100% - 30px) / 2);
  content: "";
  height: 100%;
  width: 30px;
  border-bottom: 2px solid #a04038;
}

.speaker__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 21px;
  width: 100%;
  max-inline-size: 1012px;
}

.speaker__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 14px;
}

.speaker__card.close {
  display: none;
}

.speaker__card-img {
  display: block;
  width: 107px;
  height: auto;
}

.speaker__card-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-block-end: 7px;
}

.speaker__card-title {
  margin-block-end: 7px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #f78c89;
}

.speaker__card-details hr {
  width: 18px;
  border: 1.5px solid #d9d9d9;
  margin-block-end: 12px;
}

.speaker__card-desc {
  font-weight: 700;
  font-size: 9px;
  line-height: 17px;
  letter-spacing: -0.05em;
}

.speakers__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.05em;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding-block: 1em;
}

.speakers__btn-icon {
  display: block;
  width: 8px;
  height: auto;
}

.partners {
  display: none;
}

.footer {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* Header styles
  ------------------------------------ */
  .header {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .header__banner {
    padding-inline: var(--space-3);
  }

  .header__nav {
    justify-content: space-between;
    column-gap: var(--space-2);
    padding: 12px var(--space-3);
  }

  .header__banner.close {
    display: block;
  }

  .header__navlinks.close {
    display: flex;
  }

  .header__navbar-img,
  .header__navbar-img.close {
    display: none;
  }

  /* hero styles
------------------------------------ */
  .hero {
    margin-block-start: 118px;
    background-image: url(../img/Hero-desktop_bg.png);
  }

  .speaker__card.close {
    display: flex;
  }
}
