/* import fonts */

/* Lato font */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf") format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.ttf") format('TrueType');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.ttf") format('TrueType');
  font-weight: 900;
}

/* Gothic A1 font */
@font-face {
  font-family: 'Gothic A1';
  src: url("../fonts/Gothic_A1/GothicA1-Regular.ttf") format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: 'Gothic A1';
  src: url("../fonts/Gothic_A1/GothicA1-Bold.ttf") format('TrueType');
  font-weight: 700;
}

@font-face {
  font-family: 'Gothic A1';
  src: url("../fonts/Gothic_A1/GothicA1-Black.ttf") format('TrueType');
  font-weight: 900;
}

/* Global styles
------------------------------------ */
:root {
  /* Default font size */
  font-size: 16px;

  /* Custom fonts */
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Gothic A1', sans-serif;

  /* custom spacing */

  /* 15px to 65px */
  --space-1: clamp(0.94rem, calc(-2.63rem + 7.44vw), 4.06rem);

  /* 23px to 198px */
  --space-2: clamp(2.5rem, calc(0.93rem + 3.27vw), 3.88rem);

  /* 40px to 198px on viewport 768px to 1440px */
  --space-3: clamp(2.5rem, calc(-8.79rem + 23.51vw), 12.38rem);

  /* 109px to 117px */
  --space-4: clamp(6.81rem, calc(6.64rem + 0.75vw), 7.31rem);

  /* 71px to 166px */
  --space-5: clamp(4.44rem, calc(2.35rem + 8.92vw), 10.38rem);

  /* 12px to 206px */
  --space-6: clamp(0.75rem, calc(-3.52rem + 18.22vw), 12.88rem);

  /* 30x to 75px */
  --space-7: clamp(1.88rem, calc(0.88rem + 4.23vw), 4.69rem);

  /* 20px to 75px */
  --space-8: clamp(1.25rem, calc(0.92rem + 1.41vw), 2.19rem);

  /* 30px to 65px */
  --space-9: clamp(1.88rem, calc(1.15rem + 3.10vw), 3.94rem);
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-weight: 400;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: auto;
}

.container > * {
  max-width: 100%;
}

.container > main {
  margin-block: auto;
}

.container > :first-child:not(main) {
  margin-block-start: 0;
}

.container > :last-child:not(main) {
  margin-block-end: 0;
}

/* Header styles
------------------------------------ */
.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 100;
  width: 100%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__banner.close,
.header__navlinks.close {
  display: none;
}

.header__banner {
  background-color: #3e3e3e;
  color: #fff;
  padding-inline: var(--space-2);
}

.header__banner-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 6px;
}

.header__banner-img {
  display: block;
  height: 18px;
  width: auto;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 12px var(--space-2);
}

.header__logo-img {
  display: block;
  width: 130px;
  height: auto;
}

.header__navbar-menu {
  position: absolute;
  inset-block-start: calc((100% - 1.9375rem) / 2);
  inset-inline-start: 23px;
  display: block;
  width: 1.9375rem;
  height: auto;
  cursor: pointer;
}

.header__navbar-close {
  display: block;
  width: 1rem;
  height: auto;
  margin-block-end: 20px;
  cursor: pointer;
}

.header__navlinks {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  height: 100vh;
  padding-block: 12px;
}

.header__navlinks::before {
  position: absolute;
  content: "";
  z-index: -1;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100vh;
  background-color: #32353c;
  opacity: 0.95;
}

.header__navlinks li {
  width: 100%;
}

.header__navlinks li:first-child {
  align-self: flex-end;
  width: fit-content;
  padding-inline: 25px;
}

.header__navlinks li a {
  display: block;
  font-weight: 800;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding-inline: 25px;
  border-block-end: 1px solid rgb(138, 138, 138);
}

.header__navlinks li a:hover,
.header__navlinks li a.active {
  color: #f07f7e;
}

.header__navlinks li:nth-child(2) a {
  border-block-start: 1px solid rgb(138, 138, 138);
  padding-block: 10px;
}

.header__navlinks li:not(li:last-child) a {
  padding-block: 10px;
}

.header__navlinks li:last-child span {
  display: inline-block;
  background-color: #f05a46;
  padding: 10px;
}

.header__navlinks li:last-child a:hover span {
  color: #f05a46;
  background-color: #fff;
}

.footer {
  display: block;
  margin-inline: auto;
  padding: 27px;
}

.footer__credit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: var(--space-9);
  max-inline-size: 998px;
}

.footer__credit-img {
  flex: 1;
  max-width: 250px;
  height: auto;
}

.footer__credit-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.footer__credit-text a {
  color: inherit;
  text-decoration: none;
}

.footer__credit-text a:hover,
.footer__credit-text a:active {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {

  /* Header styles
  ------------------------------------ */
  .header {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .header__banner {
    padding-inline: var(--space-3);
  }

  .header__nav {
    justify-content: space-between;
    column-gap: var(--space-2);
    padding: 12px var(--space-3);
  }

  .header__banner.close {
    display: block;
  }

  .header__navlinks.close {
    display: flex;
  }

  .header__navbar-menu,
  .header__navbar-close,
  .header__navlinks li:first-child {
    display: none;
  }

  .header__navlinks {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--space-1);
    width: fit-content;
    height: auto;
    padding-block: 0;
  }

  .header__navlinks::before {
    display: none;
  }

  .header__navlinks li a {
    font-size: 14px;
    color: #868686;
    text-decoration: none;
    padding-inline: 0;
    border-block-end: none;
  }

  .header__navlinks li:not(li:last-child) a {
    padding-block: 10px;
  }

  .header__navlinks li:nth-child(2) {
    display: none;
  }

  .header__navlinks li:last-child {
    flex-shrink: 0;
  }

  .header__navlinks li:last-child span {
    display: inline-block;
    color: #f05a46;
    background-color: transparent;
    padding: 20px;
    border: 5px solid #ec4327;
  }

  .footer {
    background-color: #32353c;
    color: #fff;
  }
}