<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Personal Portfolio">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<title>ABOUT | CC Global Summit 2015</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/home.css">
</head>

<body>
	<!-- ***********************  PAGE OVERALL CONTENT WRAPPER *********************** -->
	<div class="container">
		<header class="header">
			<div class="header__banner close">
				<ul class="header__banner-items">
					<li><a href="#"><img src="../img/twitter.png" alt="twitter icon"></a></li>
					<li><a href="#"><img src="../img/facebook.png" alt="facebook icon"></a></li>
					<li>English</li>
					<li>My Page</li>
					<li>Logout</li>
				</ul>
			</div>
			<div class="header__nav">
				<a class="header__logo close" href="../">
					<img class="header__logo-img" src="../img/logo.png" alt="logo">
				</a>
				<nav class="header__navbar">
					<ul class="header__navlinks close">
						<li class="active"><a href="/">About</a></li>
						<li><a href="#">Program</a></li>
						<li><a href="#">Join</a></li>
						<li><a href="#">Sponsor</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">CC Campaign</a></li>
					</ul>
					<img src="../img/mobile_menu 1.png" alt="menu icon">
				</nav>
			</div>
		</header>
		<main></main>
		<footer></footer>
	</div>
	<script src="js/index.js"></script>
</body>

</html>